* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #1f2937
}

.card {
  background: #1f2937;
  color: white;
  width: 420px;
  padding: 32px;
  border-radius: 18px;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 span {
  color: #4adf86;
}

.subtitle {
  color: #d5d4d8;
  margin-bottom: 28px;
}

.btn {
  background: #10b981;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #059669;
}

.divider {
  height: 1px;
  background: #2f3e53;
  margin: 28px 0;
}

.passwords {
  display: flex;
  gap: 14px;
}

.password {
  flex: 1;
  background: #273549;
  color: #4adf86;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
